<div class="login-page"  style="background: url('assets/images/7.png'); background-repeat: no-repeat; background-size: 100% 100%;">
    <div class="login-page-description">
        <div class="header-title">Fitnes.by</div>
        <div class="title">Зарегестрируйся и начни <span>растягиваться</span> прямо сейчас! :))))</div>
        <img src="assets/images/4.png" alt="">
    </div>
    <div class="login-page-container">
        <div class="form-header">Уже зарегистрированы? <a [routerLink]="['']">Войти</a></div>
        <form class="login-page-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <h2>Регистрация</h2>
            <div class="form-group">
                <label for="user_name">Имя</label>
                <input type="text" formControlName="user_name" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.user_name.errors }" />
                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.user_name.errors.required">user name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="height">Рост</label>
                <input type="text" formControlName="height" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.height.errors }" />
                <div *ngIf="submitted && f.height.errors" class="invalid-feedback">
                    <div *ngIf="f.height.errors.required">height is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="weight_">Вес</label>
                <input type="text" formControlName="weight_" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.weight_.errors }" />
                <div *ngIf="submitted && f.weight_.errors" class="invalid-feedback">
                    <div *ngIf="f.weight_.errors.required">weight is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="desired_weight">Желаемый вес</label>
                <input type="text" formControlName="desired_weight" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.desired_weight.errors }" />
                <div *ngIf="submitted && f.desired_weight.errors" class="invalid-feedback">
                    <div *ngIf="f.desired_weight.errors.required">desired weight is required</div>
                </div>
            </div>

            <div class="form-group">
              <label for="program">Уровень (pro/lite)</label>
              <input type="text" formControlName="program" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.program.errors }" />
              <div *ngIf="submitted && f.program.errors" class="invalid-feedback">
                  <div *ngIf="f.program.errors.required">program is required</div>
              </div>
          </div>

            <div class="form-group">
                <label for="user_password">Пароль</label>
                <input type="password" formControlName="user_password" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.user_password.errors" class="invalid-feedback">
                    <div *ngIf="f.user_password.errors.required">Password is required</div>
                    <div *ngIf="f.user_password.errors.minlength">Password must be at least 6 characters</div>
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="sign-putton">
                    Регистрировать
                </button>
                <a routerLink="" class="btn btn-link">Отменить</a>
            </div>
        </form>
    </div>
</div>
