    <form [formGroup]="addTranslationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="name">Название</label>
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Название упражнения"/>
        </div>
    
        <div class="form-group">
            <label for="description">Описание</label>
            <input type="text" class="form-control" id="description" formControlName="description" placeholder="Описание упражнения"/>
        </div>
    
        <div class="form-group">
            <label for="lang">Язык</label>
            <input type="text" class="form-control" id="lang" formControlName="lang" placeholder="Язык (для примера ru)"/>
        </div>
    
        <div class="form-group">
            <label for="parent_id">Id упражнения</label>
            <input type="text" class="form-control" id="parent_id" formControlName="parent_id" placeholder="Введите id упражнения"/>
        </div>
    
        <button class="btn btn-success" [routerLink]="'/new-translation'"> Добавить </button>
        <button class="btn btn-default" [routerLink]="'/exercises'"> Отменить </button>
    
    </form>
