.spinner {
  position: absolute;
  z-index: 99;
  vertical-align: middle;
  transform: position(-50%, -50%)
}

.block-2 {
  width: 100%;
  font-size: 190px;
  color: blueviolet;
  z-index: 100;
  vertical-align: middle;
  transform: position(-50%, -50%)
}

span.red {
  background: #6864cb;
   border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -webkit-border-radius: 0.8em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 1.6em;
  margin-right: 15px;
  text-align: center;
  width: 1.6em;
}

/* .container1{
  width: 50%;
  height: 50%;
  transform: position(-50%, -50%)
} */
/* .block-1 {
  width: 350px;
  height: 350px;
} */

/* .block-2 {
  position: absolute;
  font-size: 70px;
  width: 250px;
  height: 250px;
  z-index: 2;

}

.outer-div {
  position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
  z-index: 13;

  /*
   * Setting all four values to 0 makes the element as big
   * as its next relative parent. Usually this is the viewport.
   */
/* }

.inner-div {
  margin: 0 auto;
  width: 400px;
  background-color: khaki;
} */
