<app-nav-user-menu></app-nav-user-menu>
<div class="dayly-workout-container">
     <div class="dayly-workout-day-title">День воркаута:</div>
     <div class="dayly-workout-day-number">{{dayOfWorkout}}</div>

     <div class="dayly-workout-loadder">
          <div *ngIf="!isWorkoutStart" class="dayly-workout-startbutton" (click)="startWorkout()">Начать!</div>
          <div *ngIf="isWorkoutStart" class="loadder-time">{{timeToStartWorkout}}</div>
     </div>
     <div *ngIf="isWorkoutStart" class="ready">Приготовтесь!</div>
</div>