<!-- <app-nav-menu ></app-nav-menu> -->
<div>
  <router-outlet></router-outlet>

  <!-- <app-login></app-login> -->
</div>


<!--
<mat-card *ngIf='!isLoggedIn'>
  <mat-form-field class="example-form-field">
    <mat-label>Имя</mat-label>
    <input type="text" matInput placeholder="JhonDaw" #name>
  </mat-form-field>
  <mat-form-field class="example-form-field">
    <mat-label>Пароль</mat-label>
    <input type="password" matInput #password>
  </mat-form-field>
  <button style="margin: 10px; background-color: #6864cb; border-color: #6864cb;" mat-flat-button color="primary" (click)='login(name.value, password.value)' class="btn btn-primary">Войти</button>
  </mat-card>

  <mat-card *ngIf='isLoggedIn'>
    <button mat-flat-button color="primary" (click)='logout()'>Выйти</button>>
  </mat-card>
<router-outlet></router-outlet> -->