.container1 {
  display: -webkit-flex;  /* для поддержки ранних версий браузеров */
  display: inline-flex;
  height: 200px;
  align-content: space-between;
  -webkit-flex-wrap: wrap;  /* для поддержки ранних версий браузеров */
  flex-wrap: wrap;  /* указывает, что флекс элементы внутри контейнера располагаются в несколько горизонтальных рядов (в случае переполнения) */
  }

  .main-div{
    display:flex;
  }

  .button-wrap {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:400;
    font-size:1.1rem;
    color:black;
    text-align: center;
    vertical-align: middle;
    width:250px;
    height:250px;
    background-color: white;
    margin: 20px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
  }
