.container1 {
  display: -webkit-flex;  /* для поддержки ранних версий браузеров */
  display: inline-flex;
  height: 200px;
  align-content: space-between;
  -webkit-flex-wrap: wrap;  /* для поддержки ранних версий браузеров */
  flex-wrap: wrap;  /* указывает, что флекс элементы внутри контейнера располагаются в несколько горизонтальных рядов (в случае переполнения) */
  }

  .main-div{
    display:flex;
  }

  .button-wrap {
    text-transform:uppercase;
    font-family:'Arial';
    font-weight:400;
    font-size:16px;
    text-transform: uppercase;
    color:black;
    text-align: center;
    vertical-align: middle;
    width:250px;
    height:250px;
    border: 1px solid #c4c2fa;
    background-color: white;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 15%;
    }
