<app-nav-user-menu></app-nav-user-menu>

<p *ngIf="!exercise"><b>Loading...</b></p>

<div class="show-exercise-container" *ngIf="exercise">
     <div class="exercise-name">{{exercise.name}}</div>
     <video width="300" height="180" controls>
      <source src="{{'https://dm3yxr1fx7bnn.cloudfront.net/exercise/video/' + exercise.video_url}}"
          type="video/mp4">
      Your browser does not support the video tag.
  </video>

     <div class="exercise-description">{{exercise.description}}</div>

</div>
