<app-nav-user-menu></app-nav-user-menu>

<div class="container">

    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header card-header-danger">
                            <h4 class="card-title">Профиль</h4>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-md-5">
                                        <label style="margin: 20px;">Вес:</label>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label style="margin: 20px;">Рост:</label>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label style="margin: 20px;">Пройдено воркаутов:</label>

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label style="margin: 20px;">Сегодняшний вес</label>

                                        <mat-form-field class="example-full-width">
                                            <input matInput placeholder="Вес" type="text">
                                        </mat-form-field>
                                        <!-- <div class="form-group">

                                      <div class="form-group">
                                          <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so thirsty, I'm in that two seat Lambo.</label>
                                          <textarea class="form-control" rows="5"></textarea>
                                      </div>
                                  </div> -->
                                    </div>
                                </div>
                                <button style="margin: 10px; background-color: #6864cb; border-color: #6864cb;"
                                    class="btn btn-success" type="submit">Обновить вес</button>

                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-profile">
                        <img height="100%" width="100%"
                            src="https://lh3.googleusercontent.com/proxy/tDMZrVipTGuQKYYKMc4BoXDamuelmhIcM8u511kWqbRneqhLaPZpWM8Z5FaOPnvhOfeTORvzeXkw6ZM0kyFrbvBqm5POo1mf9Ye_nG53MpE" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>