<app-nav-user-menu></app-nav-user-menu>

<p *ngIf="!user"><b>Loading...</b></p>

<div class="container">

  <div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Профиль</h4>
            </div>
            <div class="card-body">
                <div class="row">
                  <div class="col-md-5">
                    <label style="margin: 20px;">Вес: {{user.weight_}}</label>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <label style="margin: 20px;">Рост: {{user.height}}</label>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-7">
                    <label style="margin: 20px;">Программа: {{program}}</label>

                  </div>

                </div>
                <div class="row">
                  <div class="col-md-12">
                    <label style="margin: 20px;">Пройдено воркаутов: {{completedWorkouts}}</label>

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">

                  </div>
                  <div class="col-md-4">

                  </div>
                  <div class="col-md-4">

                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-md-12">
                    <label style="margin: 20px;"></label>
                    <form>
                    <div class="form-group">
                      <label for="weight">Сегодняшний вес</label>
                      <input type="text" class="form-control" id="weight" formControlName="weight" placeholder="Вес"
                        #weight />
                    </div>
                  </form>
                  </div>
                </div>
                <div class="sign-putton" (click)='updateWeight(weight.value)'>Обновить вес</div>
                <div class="clearfix"></div> -->
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-profile">
            <img height="100%" width="100%" src="assets/images/1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
