<app-nav-menu></app-nav-menu>

<div class="container">

  <div *ngFor='let element of sequences'>

    <div class="example-container">

      <mat-label style="margin: 10px;">{{element + 1}}</mat-label>

      <mat-form-field appearance="fill">
        <mat-label>Время выполнения</mat-label>
        <input matInput [(ngModel)]="workoutDayDtoData[element].repeats" value="{{workoutDayDtoData[element].repeats}}">

      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Упражнение</mat-label>
        <mat-select [(value)]="workoutDayDtoData[element].exercise_id">
          <mat-option value={{item.exercise_id}} *ngFor="let item of exercisesNames">{{item.short_name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <button style="margin: 10px; background-color: #6864cb; border-color: #6864cb;" class="btn btn-success"
    (click)="add()">Следующее упражнение</button>
  <br>
  <button style="margin: 10px;" class="btn btn-success" (click)="pushData()">Сохранить день</button>
  <button class="btn btn-default" [routerLink]="'/workouts'"> Отменить </button>
</div>