<div class="login-page" style="background: url('assets/images/6.png'); background-repeat: no-repeat; background-size: 100% 100%;">
  <div class="login-page-description">
    <div class="header-title">Stretching.by</div>
    <div class="title">Сядьте дома на <span>шпагат</span> прямо сейчас! :))))</div>
    <img src="assets/images/4.png" alt="">
  </div>
  <div class="login-page-container">
    <div class="form-header">Don`t have a account? <a [routerLink]="['/register/']">Create Now</a></div>
    <form class="login-page-form">
      <h2>Вход</h2>
      <mat-form-field>
        <mat-label>Имя</mat-label>
        <input type="text" matInput placeholder="JhonDaw" #name>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Пароль</mat-label>
        <input type="password" matInput #password>
      </mat-form-field>
      <div class="sign-button-container">
        <div class="sign-putton" (click)='login(name.value, password.value)'>Войти</div>
        <a [routerLink]="['/register/']">Регистрация</a>
      </div>
    </form>
  </div>
</div>
